<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel | Employees</title>
</head>
<body>
<table>
    <tr>
        <th>Employee Number</th>
        <th>Employee Name</th>
        <th>Employee Info</th>
    </tr>
    <tr th:each="employee:${employees}">
        <td th:text="${employee.number}">Number</td>
        <td th:text="${employee.name}">Name</td>
        <td th:text="${employee.info}">Info</td>
    </tr>
</table>
</body>
</html>